@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-size: 17px;
}

#appcontainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* Prevent scrolling */
}

#header {
    text-align: left;
    color: #ffffff;
    font-size: 28px;
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 0.25% 0% 0.25% 2%;
    font-size: 28px;
    margin: 0px 0px 0px 0px;
    background-color: #2f2f2d;
    flex: 1 1 4%;
}

#consultation-row {
    display: flex;
    flex-direction: row;
    flex: 1 1 60%;
    overflow: hidden; /* Prevent overflow */
}

#environmental-data-row {
    display: flex;
    flex-direction: row;
    flex: 1 1 36%;
    overflow: hidden; /* Prevent overflow */
    background-color: #f1f1f1;
}


.loading-div {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}


.left-column {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    padding: 0% 1% 2% 2%;
    max-width: 50%;
}

.right-column {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    padding: 0% 2% 2% 1%;
    
}

#patient-details {
    flex: 1 1 20%;
    overflow: auto;
    padding-bottom: 1%;
}


#clinical-details-div {
    flex: 1 1 80%;
    overflow: auto;
}


#map-iframe {
    border: 1px solid grey;
    border-radius: 5px;
    flex: 1;
}

#location-div {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0% 0% 2% 2%;
    flex: 1 1 30%;
    border-top: 4px solid grey;
}

#gemini-response {
    overflow: auto;
    border: 5px solid #FFBD2E;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    flex: 1;
}

.environmental-data-tabs {
    flex: 1 1 70%;
    display: flex;
}

.figure-tab {
    flex: 1 1 100%;
    overflow: hidden;
    display: flex;
}

.health-record-tab-label {
    padding: 1em 1% 1% 1% !important;
    background-color: #d8d8d8 !important;
    border-bottom: 0px !important;
}

.health-records-selected-tab-label {
    padding: 1em 1% 1% 1% !important;
    font-weight: bold !important;
    background-color: #FFFFFF !important;
}

.tab-label {
    padding: 1em 1% 1% 1% !important;
    background-color: #d8d8d8 !important;
    border-bottom: 0px !important;
    border-top: 4px solid grey !important;
    border-left: 1px solid grey !important;
    border-right: 0px;

}
.selected-tab-label {
    padding: 1em 1% 1% 1% !important;
    background-color: #f1f1f1 !important;
    font-weight: bold !important;
    border-top: 4px solid #1975FA !important;
    border-bottom: 0px !important;
    border-left: 1px solid grey !important;
    border-right: 0px;
}
#aqi-graph {
    overflow: hidden;
    flex: 1 1 100%;
}

#temperature-graph {
    overflow: hidden;
    flex: 1 1 100%;
}
