/* styles.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* Prevent scrolling */
}

#header {
    text-align: left;
    color: #ffffff;
    font-size: 24px;
    padding-left: 4%;
    margin: 0px 0px 0px 0px;
    background-color: #2f2f2d;
    display: flex;
    align-items: center; /* Center the header content vertically */
    height: 50px; /* Fixed height for the header */
    flex-shrink: 0; /* Prevent header from shrinking */
}

#left-column {
    flex: 0 0 30%; /* Take up 30% of the available space */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#right-column {
    flex: 0 0 70%; /* Take up 70% of the available space */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#appcontainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /* Include padding and border in width and height */
}

#columncontainer {
    display: flex;
    /* height: calc(100vh - 50px); /* Subtract header height from viewport height */
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* Prevent overflow */
}

#patient-details {
    flex-basis: 20%; /* Take 20% of the parent's height */
    overflow: auto; /* Ensure individual elements handle overflow */
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}


#clinical-details-div {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    flex-basis: 40%;
    flex-grow: 1;
}

#map-iframe {
    border: 0;
}

#location-div {
    flex-basis: 40%; /* Take 40% of the parent's height */
    border-top: 4px solid grey;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 15px;
}

#consultation-div {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
}

#gemini-response {
    overflow: auto; /* Ensure individual elements handle overflow */
    border: 5px solid #FFBD2E;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    flex-grow: 1;
}

#aqi-graph {
    flex-basis: 40%; /* Take 40% of the parent's height */
    overflow: auto; /* Ensure individual elements handle overflow */
    border-top: 4px solid grey;
}
